:root {
    --PrimaryColor: rgb(8, 132, 232);
    --SecondaryColor: rgb(5, 179, 242);
    /* --gradientColor: linear-gradient(to right, hs1(187, 85%, 43%), hs1(199, 100%, 33%)); */
    --gradientColor: linear-gradient(to right, rgb(5, 217, 250), rgb(3, 135, 201));
    --whiteColor: rgb(248, 250, 250);
    --blackcolor: rgb(3, 3, 3);
    --textColor: rgb(102, 95, 136);
    --whiteColorDeam: rgb(251, 253, 253);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-header {
    margin-top: 20px;
    text-align: center;
  
    h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 18px;
    }
  }
  
  .home-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  
    img {
      max-width: 100%;
    }
  
    .signup-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
  
      label {
        font-size: 18px;
        margin-bottom: 10px;
      }
  
      input {
        width: 100%;
        max-width: 300px;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 18px;
        background: none;
        border: none;
        outline: none;
        width:100%;
        &::placeholder{
            font-size:13px;
        }
      }
  
      button {
        background-color: blue;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.3s ease;
  
        &:hover {
          background-color: navy;
        }
      }
    }
  }
  
  .home-footer {
    margin-top: 20px;
    text-align: center;
  
    a {
      color: blue;
      text-decoration: none;
      transition: all 0.3s ease;
  
      &:hover {
        color: navy;
      }
    }
  }
  