.vertical-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: white; // Change the background color to white
  border-radius: 10px;

  button {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.1);
    }

    svg {
      color: gray; // Change the icon color to gray
      font-size: 24px;
    }
  }
}
