@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Satisfy', cursive; */

}

/* color and styling */
:root {
    --PrimaryColor: rgb(8, 132, 232);
    --SecondaryColor: rgb(5, 179, 242);
    /* --gradientColor: linear-gradient(to right, hs1(187, 85%, 43%), hs1(199, 100%, 33%)); */
    --gradientColor: linear-gradient(to right, rgb(5, 217, 250), rgb(3, 135, 201));
    --whiteColor: rgb(248, 250, 250);
    --blackcolor: rgb(3, 3, 3);
    --textColor: rgb(102, 95, 136);
    --whiteColorDeam: rgb(251, 253, 253);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section {
    padding: 4rem 0 2rem;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    font-size: 2rem;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    /* color: darkgreen; */
}

.grid {
    display: grid;
    align-items: center;
}

.btn {
    padding: .6rem 1.5rem;
    background: var(--gradientColor);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn a {
    color: var(--whiteColor);
    font-weight: 500;
}

.btn:hover {
    background: var(--SecondaryColor);
}

img,
video {
    width: 100;
    height: auto;
}

input {
    font-size: 100%;
}

body {
    background: var(--bodyColor);
}
